<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinecourseapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCourseApp">
        <activity
            android:name=".Notifications.ViewNotification"
            android:exported="false" />
        <activity
            android:name=".Notifications.SetNotifications"
            android:exported="false" />
        <activity
            android:name=".Sections.Section6c3"
            android:exported="false" />
        <activity
            android:name=".Sections.Section6c2"
            android:exported="false" />
        <activity
            android:name=".Sections.Section6c1"
            android:exported="false" />
        <activity
            android:name=".Quizizz.Quiz"
            android:exported="false" />
        <activity
            android:name=".Quizizz.cs385quiz1"
            android:exported="false" />
        <activity
            android:name=".Sections.Sections"
            android:exported="false" />
        <activity
            android:name=".Students.Student"
            android:exported="false" />
        <activity
            android:name=".Students.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".Students.StudentRegisteration"
            android:exported="false" />
        <activity
            android:name=".Teachers.Teachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.TeachersRegisteration"
            android:exported="false" />
        <activity
            android:name=".Teachers.TeachersLogin"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>